type apk_logfs, domain;
type apk_logfs_exec, exec_type, file_type;
userdebug_or_eng(`
  init_daemon_domain(apk_logfs)
  allow apk_logfs kernel:system syslog_read;
  allow apk_logfs kmsg_device:chr_file { read open };
  allow apk_logfs logd:unix_stream_socket connectto;
  allow apk_logfs logdr_socket:sock_file write;
  allow apk_logfs rootfs:lnk_file getattr;
  allow apk_logfs self:capability dac_override;
  allow apk_logfs shell_exec:file { read getattr };
  allow apk_logfs aplog_data_file:dir { write add_name remove_name search };
  allow apk_logfs aplog_data_file:file { create open getattr append rename unlink };
  allow apk_logfs system_file:file execute_no_trans;
  allow apk_logfs toolbox_exec:file { read getattr open execute execute_no_trans };
')
