type pppoe, domain, domain_deprecated;
type pppoe_exec, exec_type, file_type;

init_daemon_domain(pppoe)

allow pppoe shell_exec:file { getattr read execute open };
allow pppoe toolbox_exec:file { getattr execute read open execute_no_trans };
allow pppoe property_socket:sock_file { write };
allow pppoe init:unix_stream_socket { connectto };
allow pppoe pppoe:udp_socket { create ioctl };
allow pppoe pppoe:capability { net_raw net_admin dac_override setuid setgid };
allow pppoe pppoe:packet_socket { create ioctl read setopt bind write };
allow pppoe pppoe:socket { create connect ioctl };
allow pppoe pppoe_exec:file { execute_no_trans };
allow pppoe ppp_exec:file { execute getattr read open execute_no_trans };
allow pppoe ppp_device:chr_file { read write open ioctl };
allow pppoe pppoe_data_file:file { open write create setattr append read getattr unlink };
allow pppoe pppoe_data_file:dir { write add_name read open read open search remove_name };
allow pppoe system_file:file { execute_no_trans };
allow pppoe net_radio_prop:property_service { set };
allow pppoe pppoe_prop:property_service { set };
allow pppoe pppoe_prop:file { read open getattr };
allow pppoe system_prop:property_service { set };

