type graphic_prop, property_type;
type serialno_prop, property_type;
type drm_prop, property_type;
type media_prop, property_type;
type ctsgts_prop, property_type;
type pppoe_prop, property_type;
type secureboot_prop, property_type;
