allow untrusted_app surfaceflinger:fifo_file rw_file_perms;
allow untrusted_app gpu_device:chr_file rw_file_perms; 
allow untrusted_app app_data_file:dir { search };

allow untrusted_app storage_stub_file:dir { getattr };
allow untrusted_app unlabeled:filesystem { getattr };
allow untrusted_app unlabeled:dir rw_dir_perms;
allow untrusted_app unlabeled:file rw_file_perms;
allow untrusted_app devicemanager_service:service_manager { find };
allow untrusted_app sysfs_zram:dir { search };
allow untrusted_app gpu_device:dir { search };
allow untrusted_app dm_device:blk_file { getattr };
allow untrusted_app block_device:dir { getattr };

allow untrusted_app { domain -init -kernel}:dir { getattr search };
allow untrusted_app { domain -init -kernel}:file { read getattr open };
get_prop(untrusted_app,ctsgts_prop)
allow untrusted_app system_data_file:file r_file_perms;
allow untrusted_app sysfs_lut:file { getattr setattr open write };
